.splash {
    background-color: #5374ff;
    width: 100vw;
    height: 100vh;
    -webkit-app-region: drag;
}

.splashImg {
    animation: rotate 2s linear infinite;
    width: 100%;
    -webkit-app-region: drag;
}

.slpashMessage {
    width: 100%;
    padding-top: 20px;
    text-align: center;
    color: aliceblue;
}